
.container{
    background: url(https://www.xtrafondos.com/wallpapers/resized/montanas-en-parque-nacional-grand-teton-10609.jpg?s=large)100% 50%/cover no-repeat ;  

    background-color: #fff;

}
.table{
    background-color: rgb(182, 201, 204);
    opacity: 0.8;
}